LOGIN_URL=
LOGOUT_URL=
HOMEPAGE_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID_WINA=
TELEGRAM_CHAT_ID_SINYALA=
TELEGRAM_LOGGER_ID=
ENABLE_SIGNAL=
ENABLE_BUY=
ENABLE_SELL=
SELL_DELAY=
DIR_PATH=
GSHEET_ACC=
AJ_USER=
AJ_PASS=